/********************************
GENERAL
*********************************/

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 5%;
}

img {
    max-width: 100%;
}


/********************************
FORM HEADER
*********************************/

#form-header {
    background-color: #646060;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

#form-header p {
    margin: 0px;
    padding: 15px 15px;
}

#form-outline {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 10px 10px;
}


/********************************
FORM GENERAL
*********************************/

form {
    background-color: #F4F4F4;
    margin: 0px;
    padding: 10px 10px;
}

form div {
    margin-bottom: 10px;
}

form input {
    margin: 3px 0px;
    padding: 5px 5px;
}


/********************************
FORM INPUT SECTION
*********************************/

#card-number-container label {
    float: left;
    width: 30%;
    margin-top: 10px;
}

#credit-cards {
    float: right;
    margin: 0px 2px 0px 0px;
}

#credit-cards img {
    height: 30px;
    margin-left: 1px;
}

#card-number {
    width: 100%;
}

#expiry-container {
    float: left;
    width: 50%;
}

#expiry {
    width: 80%;
}

#security-code-container {
    float: right;
}

#question-mark-box {
    width: 30px;
    height: 31px;
    border: 1px solid lightgray;
    background-color: white;
    float: right;
    margin: 3px 0px 0px 0px;
}

.circle {
    width: 23px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid lightgray;
    background-color: white;
    color: gray;
    text-align: center;
    margin: 2px 0px 0px 2px;
    padding-top: 2px;
}

#card-name {
    width: 100%;
}

#card-name-container {
    clear: both;
}


/********************************
PREFERRED CURRENCY SECTION
*********************************/




/********************************
FLOAT CLEARFIX
*********************************/

.group:after {
    content: "";
    display: table;
    clear: both;
  }