/********************************
GENERAL
*********************************/

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 5%;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.font-opacity {
    opacity: 0.65;
}

.medium-font {
    font-size: 14px;
}

.small-font {
    font-size: 12px;
}

.extra-small-font {
    font-size: 10px;
}


/********************************
FORM GENERAL
*********************************/

form {
    background-color: #f6f6f6;
    margin: 0px;
    padding: 10px 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

form div {
    margin-bottom: 10px;
}

form input {
    margin: 3px 0px;
    padding: 5px 5px;
}


/********************************
FORM HEADER
*********************************/

#form-header {
    background-color: #837f7f;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

#form-header p {
    margin: 0px;
    padding: 15px 15px;
}

#form-outline {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 10px 10px;
}


/********************************
FORM INPUT SECTION
*********************************/

#card-number-container label {
    float: left;
    width: 30%;
    margin-top: 10px;
}

#credit-cards {
    float: right;
    margin: 0px 2px 0px 0px;
}

#credit-cards img {
    height: 30px;
    margin-left: 1px;
}

#card-number {
    width: 100%;
}

#expiry-container {
    float: left;
    width: 50%;
}

#expiry {
    width: 80%;
}

#security-code-container {
    float: right;
}

#question-mark-box {
    width: 30px;
    height: 31px;
    border: 1px solid lightgray;
    background-color: white;
    float: right;
    margin: 3px 0px 0px 0px;
}

.security-circle {
    width: 23px;
    height: 24px;
    border-radius: 50%;
    border: 1.5px solid #a8a8a8;
    background-color: white;
    color: #a8a8a8;
    text-align: center;
    margin: 2px 0px 0px 2px;
    padding-top: 2px;
    font-weight: 700;
}

#card-name {
    width: 100%;
}

#card-name-container {
    clear: both;
}


/********************************
PREFERRED CURRENCY SECTION
*********************************/

#exchange-rate {
    float: left;
    margin: 8px 0px;
}

#rate-mark-up {
    clear: both;
}

.currency-circle {
    width: 23px;
    height: 24px;
    border-radius: 50%;
    border: 1.5px solid #a8a8a8;
    color: #a8a8a8;
    text-align: center;
    margin: 2px 0px 0px 4px;
    padding-top: 2px;
    font-weight: 700;
    float: left;
}


/********************************
SWITCH STYLES
*********************************/

.switch {
  /* width: 24rem; */
  /* width: 50px; */
    position: relative;
    float: left;
    font-weight: bold;
}
.switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
.switch input:checked {
    z-index: 1;
}
.switch input:checked + label {
    opacity: 1;
    cursor: default;
}
.switch input:not(:checked) + label:hover {
    opacity: 0.5;
}
.switch label {
    opacity: 0.33;
    transition: opacity 0.25s ease;
    cursor: pointer;
}
.switch .toggle-outside {
    height: 100%;
    border-radius: 20%;
    transition: 0.25s ease all;
}
.switch .toggle-inside {
    border-radius: 20%;
    background: #0090d8;
    position: absolute;
    transition: 0.25s ease all;
}
.switch--horizontal {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 0px;
}
.switch--horizontal input {
    height: 20px;
    width: 48px;
    left: 80px;
    margin: 0;
}
.switch--horizontal label {
    font-size: 14px;
    display: inline-block;
    height: 100%;
    margin: 0;
    text-align: center;
}
.switch--horizontal label:last-of-type {
    margin-left: 65px;
}
.switch--horizontal .toggle-outside {
    background: #fff;
    position: absolute;
    width: 48px;
    left: 75px;
}
.switch--horizontal .toggle-inside {
    height: 20px;
    width: 20px;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
    left: 30px;
}


/********************************
FORM FOOTER
*********************************/

#form-footer {
    margin-top: 20px;
}

#form-footer button {
    width: 100%;
    background-color: #0090d8;
    font-size: 20px;
    color: white;
    height: 50px;
}

#form-footer p {
    color: #0090d8;
    text-align: center;
}

#form-footer img {
    height: 15px;
    transform: rotate(-20deg);
    margin-right: 5px;
}


/********************************
FLOAT CLEARFIX
*********************************/

.group:after {
    content: "";
    display: table;
    clear: both;
  }