/********************************
GENERAL
*********************************/

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 5%;
}

img {
    max-width: 100%;
}

